.header .container {
    width: 1900px;
    margin: 0 auto;
}

.topmenu {
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    height: 80px;
}

.logo {
    padding: 15px 0;
}

.mainmenu a {
    line-height: 80px;
}

.mainmenu:after {
    display: block;
    content: '';
    clear: both;
}

.mainmenu {
    display: flex;
    gap: 40px;
}

.mainmenu li {
    position: relative;
    margin-right: 5px;
    width: 70px;
}


.mainmenu li:hover .submenu {
    display: block;
}

.mainmenu .submenu {
    display: none;
    position: absolute;
    transform:translateX(-40%);
    text-align: center;
}

.mainmenu .submenu a {
    width: 100px;
    display: block;
    padding: 5px;
    background: #666;
    color: #fff;
    line-height: 40px;
}

.gamestart {
    line-height: 80px;
}

.gamestart button{
    position: relative;
    height: 80px;
    width: 200px;
    top: -5px;
    left: 0px;
    border: none;
    cursor: pointer;
}

.gamestart img{
    position: absolute;
   top: 2px;
   left: 0;
   height: 80px;
   width: 200px;
}

.gamestart p{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 17px;
}